body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0e0;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    gap: 10px;
}

.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: 1%;
    display: flex;
    width: calc(100% - 10px); /* 30% da largura da tela menos 10px de distância */
    height: calc(30% - 10px); /* 100% da altura da tela menos 10px de distância */
    height: 30vh; /* 30% da altura da tela */
    background-color:  #f4f3f3; /* Cor de fundo da primeira div */
    border-radius: 10px;
}

.list {
    margin-top: 1%;
    width: calc(100% - 10px); /* 70% da largura da tela menos 10px de distância */
    height: calc(70% - 10px); /* 100% da altura da tela menos 10px de distância */
    background-color: #f4f3f3; /* Cor de fundo da segunda div */
    border-radius: 10px;
    float: center;
    border-collapse: collapse;
}

.list th,
.list td{
    font-size: 14px;
    width: 20%;
    height: 20%;
    padding: 10px ;
    border: solid 1px #ccc;
    float: center;
}

.buttonRes{
    margin-top: 5%;
    width: 10%;
    height: 30%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #07a;
    color: #ffff;
}

.button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #07a;
    color: #ffff;
    margin: 3px;
    padding: 15px;
}

.button:hover{
    opacity: 0.8;
}


.container{
    display: grid;
    grid-auto-flow: column; /* Coloca os botões em uma linha */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 30%;
}


.label{
    font-size: 14px;
    border-radius: 4px;
    margin: 3px;
    padding: 15px;
}

.input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px;
}